*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body{
  width:100%
}
body{
  width: 100%;
  background-color: brown;
}

.todolist{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border-radius: 10px;
}
.todo{
  position: relative;
  width: 500px;
  height: 500px;
  background-color: azure;
  border-radius: 10px;
}
.todo h1{
  margin-left: 120px;
}
input{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  background-color: transparent;
  border: 2px solid gray;
  width: 70%;
  height: 8%;
  border-radius: 10px;
}
.bu{
  padding: 10px;
  border-radius: 40px;
  margin-left: 20px;
  background-color: transparent;
}

button{
  margin-top: 10px;
  padding: 10px;
  border-radius: 40px;
  background-color: transparent;
}
.output{
  margin-left: 40px;
  gap: 10px;
  width: 100%;}